@import "setup";
@import "colors";
@import "animations";
@import "nav";

body {
  background: rgb(252, 252, 252);
}
html {
  font-family: "Source Code Pro", monospace;
}

.wrapper {
  position: relative;
  width: 100%;
  border: white 1px solid;
}

main {
  margin: 5rem 0;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 0 5%;
  margin: 0;
  font-weight: 700;
}

.buttonContainer {
  width: 100%;
  text-align: center;
}

button {
  background-color: $basePink;
  width: 65%;
  padding: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 9px 12px 35px 4px rgba(216, 131, 166, 0.56);
  -webkit-box-shadow: 9px 12px 35px 4px rgba(216, 131, 166, 0.56);
}

